@model Mvc10B.Models.Student
@{
    ViewData["Title"] = "Maak een student";
}

<div>
    <form name="aanmelding" action="/studenten/create" method="POST">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">Voornaam</label>
                <input type="text" class="form-control" id="name" name="Naam" placeholder="Voornaam">
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Aanmelden</button>
    </form>
</div>