@using Mvc10B.Models;
@model StudentDB
@{
    ViewData["Title"] = "Gewijzigde Student";
}

<div>
    <p>Een student is succesvol gewijzigd.</p>
    <table class="table">
        <tr>
            <th scope="col">Studentnummer</th>
            <th scope="col">Naam</th>
            <th scope="col">Emailadres</th>
        </tr>
        <tr>
            <td>@Model.StudentNummer</td>
            <td>@Model.VoorNaam</td>
            <td>@Model.EmailAdres</td>
        </tr>
    </table>
</div>