@model Mvc10B.Models.Student
@{
    ViewData["Title"] = "Zoek Studenten";
}

<div>
    Namen met de voorletter: 
    <table class="table">
        <tr>
            <th scope="col">Voornaam</th>
            <th scope="col">Studentnummer</th>
            <th scope="col">Email</th>    
        </tr>
        @ViewBag.VoorLetter @foreach (StudentDB student in ViewBag.StudentenMetVoorLetter) 
        { 
            <tr>
                <td>@student.VoorNaam</td>
                <td>@student.StudentNummer</td>
                <td>@student.EmailAdres</td>
            </tr> 
        }
    </table>
</div>